.Container {
    width: 320px;
    height: 400px;
    margin: 2px 2px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    border-radius: 10px;
}

.Container:hover {
    top: -5px;
    border-radius: 10px;
    box-shadow: 1px 1px grey;
}

.ClassCard{
    background-color: rgba(0,0,0,0.03);
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.ImageContainer{
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.Image{
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.Summary{
    width: 100%;
    height: 40%;
    padding: 0;
}

.Title{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
}

.Button {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 5px;
    display: inline-block;
    margin: 10px 10px;
    z-index: 100;
    position: relative;
    left: 230px;
    bottom: 85px;
}

.FavoriteButton {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 5px;
    display: inline-block;
    margin: 10px 10px;
    background-color: yellow;
    z-index: 100;
    position: relative;
    left: 230px;
    bottom: 85px;
}

.Placeholder {
    padding: 5px 5px;
    display: inline-block;
    margin: 10px 10px;
}